<div class="h1 center user_title">KARMACONOMY</div>

<h1 class="h1 all_users_h1">Karmaconomy Users</h1>

<div class="section m3">
  <% User.all.each do |u| %>
    <li><%= u.name %></li>
  <% end %>
</div>
