<div class="h1 center user_title">KARMACONOMY</div>

<div class="h1 center all_users_h1">Karmaconomy Users</div>

<div class="section m3 center all_users">
  <% User.all.each do |u| %>
    <li><%= u.name %></li>
  <% end %>
</div>
