<div class="center px2 py4 page_header">
    <h1 class="h0-responsive caps mt4 mb0 regular main_title">KARMACONOMY</h1>
    <p class="h3 sub_title bold">Together let's make the world a better place.</p>
    <%= link_to "Sign up!", signup_path, :class => "h3 btn btn-primary mb4" %>
</div>
<body>
  <div class="container center">
    <div class="clearfix bold">
      <h2 class="h2 how_it_works">How Karmoconomy Works</h2>
      <p class="h3 main_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eligendi tenetur voluptatibus odio ipsum deleniti nihil quibusdam molestiae reiciendis, eum alias incidunt fuga quidem similique dolore aliquid eos quam. Sit?</p>
      <p class="h3 main_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eligendi tenetur voluptatibus odio ipsum deleniti nihil quibusdam molestiae reiciendis, eum alias incidunt fuga quidem similique dolore aliquid eos quam. Sit?</p>
    </div>
  </div>

</div>
  <section class="container">
    <div class="clearfix center">
      <div class="col col-3 sm-col-2 m1">
        <a href="#" class="block">
          <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" class="block" />
        </a>
      </div>
      <div class="col col-3 sm-col-2 m1">
        <a href="#" class="block">
          <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" class="block" />
        </a>
      </div>
      <div class="col col-3 sm-col-2 m1">
        <a href="#" class="block">
          <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" class="block" />
        </a>
      </div>
    </div>
    <div class="clearfix">
      <div class="col col-3 sm-col-2 m1">
        <a href="#" class="block">
          <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" class="block" />
        </a>
      </div>
      <div class="col col-3 sm-col-2 m1">
        <a href="#" class="block">
          <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" class="block" />
        </a>
      </div>
      <div class="col col-3 sm-col-2 m1">
        <a href="#" class="block">
          <img src="http://d2v52k3cl9vedd.cloudfront.net/assets/images/placeholder-square.svg" class="block" />
        </a>
      </div>
    </div>
  </section>


</body>
</html>
