<body class="welcome_body">
<div class="background"></div>
<header>
  <div class="karmaconomy_heading">
    <h1>KARMACONOMY</h1>
  </div>
  <div class="sub_heading">
    <h3>Make the world a better place.</h3>
  </div>
</header>
<div class="container_welcome">
  <h3>How it works</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eos libero error mollitia tempore nisi omnis, corporis sint ea odit, recusandae autem consequuntur animi cupiditate architecto blanditiis. Delectus a, soluta.</p>
</div>
</body>
