@import "basscss/basscss";
@import "basscss/basscss-addons";
@import "hover";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter|Questrial|Poiret+One|Give+You+Glory);

* {
  box-sizing: border-box;
}

// HOME PAGE

div.background {
  opacity: 0.5;
  width: 100%;
  background: white;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.welcome_body {
  background-image: url("background_image.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.karmaconomy_heading {
  margin-top: 130px;
  margin-bottom: 0;
  text-align: center;
  color: #374665;
  font-family: 'Questrial', sans-serif;
  // font-family: 'Give You Glory', cursive;
  font-size: 80px;
  line-height: 30px;
}

div.sub_heading {
  text-align: center;
  color: #374665;
  // font-family: 'Questrial', sans-serif;
  font-family: 'Give You Glory', cursive;
  margin-bottom: 180px;
}

.nav_welcome {
  text-align: center;
  font-size: 25px;
  font-family: 'Architects Daughter', cursive;
  margin-bottom: 430px;
}

.nav_welcome>a {
  text-decoration: none;
  color: #374665;
  margin: 15px;
}

.nav_welcome>a:hover {
  text-decoration: underline;
}


// HOME PAGE: How it works section

.welcome_main>h2 {
  font-size: 35px;
}

.welcome_main {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  color: #374665;
  // font-family: 'Questrial', sans-serif;
  font-family: 'Give You Glory', cursive;
  margin-bottom: 50px;
}

// HOME PAGE: Deeds section

.deed_container {
  width: 960px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.flex-auto {
  border: 3px solid #FF8A7C;
  // border-color: #E74C3C;
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 3px;
}

.box1 {
  background-image: url("mine_yours_ours.png");
  background-size: cover;
}

.box2 {
  background-image: url("tools_fix_it.jpg");
  background-size: cover;
}

.box3 {
  background-image: url("camera_borrow_it.jpg");
  background-size: cover;
}

.box4 {
  background-image: url("pool_use_it.jpg");
  background-size: cover;
}

.box5 {
  background-image: url("walk_dog_do_it.jpg");
  background-size: cover;
}

.box6 {
  background-image: url("furniture_have_it.jpg");
  background-size: cover;
}






// APPLICATIONS PAGES

// Social media icons

.social_container {
  text-align: center;
}

.social_container>i {
  margin: 10px;
  color: #374665;
}


// USER SHOW PAGE


nav.fixed {
  // background-color: rgba(37, 195, 142, 0.2);  - makes nav BG opaque
  text-align: left;
  padding: 7px;
  width: 100vw;
  font-size: 25px;
  font-family: 'Architects Daughter', cursive;
  margin-bottom: 40px;
}

nav.fixed>a {
  text-decoration: none;
  color: #374665;
  margin: 15px;
}

div>h1.user_name {


}












// div.container {
//   width: 960px;
//   margin: 0 auto;
// }



// nav.fixed {
//   // background-color: rgba(37, 195, 142, 0.2);  - makes nav BG opaque
//   text-align: left;
//   margin-left: -100px;
//   padding: 7px;
//   margin-bottom: 100px;
//   width: 100vw;
// }
//
// .nav>a {
//   margin-left: 25px;
//   text-decoration: none;
//   color: #374665;
//   font-family: 'Architects Daughter', cursive;
//   font-size: 20px;
// }
// .nav>a:hover {
//   font-size: 25px;
//   text-decoration: none;
// }
