@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Questrial);

* {
  box-sizing: border-box;
}

.welcome_body {
  background-image: url("background_image.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  font-size: 22px;
}

div.container {
  width: 960px;
  margin: 0 auto;
}

div.background {
  opacity: 0.6;
  width: 100%;
  background: white;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

// make nav background opaque

nav {
  background-color: rgba(37, 195, 142, 0.2);
  text-align: left;
  margin-left: -100px;
  padding: 7px;
  margin-bottom: 200px;
  width: 100vw;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #374665;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
}
nav a:hover {
  font-size: 25px;
  text-decoration: none;
}

div.nav_background {
  opacity: 0.6;
  width: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
}

div.karmaconomy_heading {
  text-align: center;
  color: #374665;
  font-family: 'Questrial', sans-serif;
  font-size: 250px;
}

div.sub_heading {
  text-align: center;
  color: #374665;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  margin-bottom: 400px;
}

div.container_welcome {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
