@import "basscss";
@import "hover";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter|Questrial|Poiret+One|Give+You+Glory|Caveat);

nav {
  background-color: #FF8A7C;
  font-family: 'Give You Glory', cursive;
  font-weight: bold;
  font-size: 24px;
  padding-left: 5px;
}

div.page_header {
  height: 100vh;
  z-index: 1;
  padding-top: 100px;
}

div.page_header>a {
  font-family: 'Questrial', sans-serif;
}

.btn {
  background-color: #FF8A7C !important;
  outline: none;
}

.main_title {
  color: #374665;
  font-family: 'Questrial', sans-serif;
  font-size: 80px;
}

p.sub_title {
  font-family: 'Give You Glory', cursive;
  color: #374665;
  font-size: 25px;
}

div.about_content {
  margin-top: -200px;
}

h2.how_it_works {
  font-family: 'Give You Glory', cursive;
  color: #FF8A7C;
  font-size: 35px;
}

p.main_content {
  font-family: 'Give You Glory', cursive;
  color: #374665;
  font-size: 25px;
}

.social_container>i {
  color: #374665;
  margin: 100px 10px 10px 10px;
}

div.user_title {
  font-family: 'Give You Glory', cursive;
  font-weight: bold;
  color: #FF8A7C;
  font-size: 60px;
  margin-top: 50px;
}

li.profile_pic>img {
  width: 200px;
  height: 195px;
  border-radius: 50%;
  border-width: 2px;
  border-color: #FF8A7C;
}

.profile_content {
  font-family: 'Give You Glory', cursive;
  color: #374665;
  font-size: 20px;
  line-height: 170%;
  text-decoration: none
}

h3.deed_heading {
  font-family: 'Give You Glory', cursive;
  color: #374665;
  font-weight: bold;
  font-size: 28px;
  margin: 40px 0px 100px 0px;
}

h3.profile_sub_heading {
  font-family: 'Questrial', sans-serif;
  font-size: 22px;
  color: #374665;
}

.profile_links {
  text-decoration: none;
  color: #FF8A7C;
  font-weight: bold;
}

div.deed_links {
  border-color: #FF8A7C;
  border-width: 2px;
}

.deed_links>h1>a {
  text-decoration: none;
  color: #FF8A7C;
  font-weight: bold;
  font-family: 'Give You Glory', cursive;
  font-size: 40px;
}

div.deed_content {
  font-family: 'Give You Glory', cursive;
  color: #374665;
  font-size: 20px;
  line-height: 170%;
  text-decoration: none;
  font-weight: bold;
}

// li.edit_deed_link>a li.delete_deed_link>a {
//   text-decoration: none;
//   color: #FF8A7C;
//   font-weight: bold;
// }

div.profile_form>form.new_deed {
  font-family: 'Questrial', sans-serif;
  align-items: center;
  margin: 0 auto;
}

div.new_deed {
  margin-top: 30px;
  font-family: 'Questrial', sans-serif;
  color: #374665;
}

div.new_user {
  margin-top: 30px;
  font-family: 'Questrial', sans-serif;
  color: #374665;
}

.login_heading {
  margin-top: 30px;
  font-family: 'Questrial', sans-serif;
  color: #374665;
}

footer.footer_section {
  background-color: #565C5E;
  margin-top: 150px;
  width: 100vw;
}

div.social_media>i {
  color: #FF8A7C;
  margin: 15px 9px 15px 9px;
}
