<div class="h1 center user_title">KARMACONOMY</div>

<div class="h1 center all_categories_h1">Deed Catagories</div>
<div class="section m3 center all_categories">
<% @categories.each do |c| %>
  <p>
    <%= link_to c.title, c %>
    <% if @current_user.admin? && c.deeds.length == 0 %>
      <%= link_to 'Delete', category_path(c), :method => :delete , :class => 'btn btn-primary' %>
    <% end %>
  </p>
<% end %>
</div>
<div class="btn-container">
  <% if @current_user.admin? %>
    <%= link_to 'Add Category', new_category_path, :class => 'btn btn-primary' %>
  <% end %>
</div>
