<div class="h1 center user_title">KARMACONOMY</div>
<div class="container">
  <div class="clearfix mxn2">
    <div class= "col-4 px2 mx-auto m3 bg-white category_form">
      <%= form_for @category do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, :class => 'block col-12 mb1 field' %>
        <div class="btn-container">
        <%= f.submit "Create Category", :class => 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
